<?xml version="1.0" encoding="utf-8" ?>
<hibernate-configuration xmlns="http://www.hibernate.org/xsd/orm/cfg">
    <session-factory>
        <property name="connection.url">jdbc:oracle:thin:@//localhost:1521/XE</property>
        <property name="connection.driver_class">oracle.jdbc.driver.OracleDriver</property>
        <property name="connection.username">system</property>
        <property name="connection.password">apps</property>
        <property name="show_sql">true</property>

        <mapping resource="ru/xcompany/entities/Match.hbm.xml"/>
    </session-factory>
</hibernate-configuration>
